@import '@unocss/reset/tailwind.css';
@import '@conciv/ui-kit-system/tokens.css';
@import '@conciv/ui-kit-chat/theme/tokens.css';
@import '@conciv/ui-kit-chat/theme/conciv.css';
@import '@conciv/solid-streamdown/styles.css';
@unocss all;

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
