@import '@unocss/reset/tailwind.css';
@import '@mandarax/ui-kit-system/tokens.css';
@import '../src/theme/tokens.css';
@import '../src/theme/mandarax.css';
@import '@mandarax/solid-streamdown/styles.css';
@unocss all;

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
